<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/web-services
         http://www.springframework.org/schema/web-services/web-services.xsd">

    <sws:annotation-driven />

    <bean id="ordersSchema" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/OrderWebService.xsd"/>
    </bean>

    <!--sws:dynamic-wsdl id="orders"
                      portTypeName="Orders"
                      locationUri="http://localhost:8080/ordersService/">
        <sws:xsd location="/WEB-INF/xsd/OrderWebService.xsd"/>
    </sws:dynamic-wsdl-->
    <sws:static-wsdl  id="order" location="/WEB-INF/OrderWebServiceImpl.wsdl"/>
</beans>